@import url('https://fonts.googleapis.com/css?family=Open+Sans:regular,bold');

:root{
  --color_main: #ACBCCE;
  --font:'Open Sans', sans-serif;
  --amarillo: #ffe100;
  --rosa: #ff004f;
}

.contenedor {
  display: flex;
  width:80%
}

.imagenCircular {
  border-radius: 50%;
  height:62%;
  width:80%;
  -webkit-filter: brightness(70%);
   filter: brightness(70%);
}

.verPerfil{
  display: flex;
  position: absolute;
  left: 19.5%;
  top: 42%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  color: #ffffff;

}

.contenedorTexto{
  lost-column:2/4;
  color: var(--color_main);
  margin-top:-1.5rem;
  padding-right:2rem;
  padding-left:2rem;

}

.conetendorImage{
  lost-column: 1/4;
  display: flex;
  justify-content: center;
}

.body{
  overflow: hidden;
  position: absolute;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedorInformes{
  border-top: 1px solid var(--color_main);
  color: var(--color_main);
  lost-column: 1/7;
  margin-top:2rem;
}

.arrow{
  width:8%;
  height:8%;
}

.yellow{
  color: var(--amarillo);
}

/*TestMain*/

.bodyMain {
  overflow: hidden;
  position: absolute;
  height:100%;
  display: flex;
  justify-content:center;
  align-items: center;
}

.contenedorMain {
  lost-column: 1/2;
  color: var(--color_main);
  font-family: var(--font);
}

.cajaTexto{
  border-top: 1px solid var(--color_main);
  padding-top: 2rem;
}

.subtitulo{
  margin-top:-1rem;
  padding-bottom:1rem;
}

/*TestConferencias*/

.imagesGaleria{
  width:90%;
  height:90%;
  position:relative;
}

.galeria{
  display:flex;
  justify-content: space-between;
}

.contenedorConferencia{
  lost-column:2/3;
  color: var(--color_main);
}

.textoImagenInformacion{
  position:absolute;
  margin-top:13%;
}

.textoImagenNombre{
  position:absolute;
  margin-top:14.5%;
}

.textoImagenHorario{
  position:absolute;
  margin-top:16%;
}
