.blot {
  display: flex;
  height: 100vh;
  width: 50vw;
  /*z-index: ;*/

  &.left {
    align-items: flex-start;
    left: -27%;
    position: fixed;
    top: -50px;
  }

  &.right {
    bottom: 80px;
    height: 75vh;
    position: absolute;
    right: -20%;
  }

  & img {
    /*max-height: 100vh;*/
    max-width: 100%;
    /*z-index: -1;*/
  }
}
