.blot {
  position: absolute;
  height: 100vh;
  width: 50vw;

  &.left {
    left: -36vw;
    top: -15vh;
  }

  &.right {
    right: -32vw;
    top: -5vh;
  }

  & > img {
    height: 125%;
    z-index: -1;
  }
}
