
.conferences {
  display: flex;
  flex-direction: column;

  @media (--phone), (--tablet) {
    margin-left: 1rem;
  }

  @media (--desktop) {
    margin-left: 10%;
  }

  & .bodylist {
    margin-bottom: 3rem;
    width: 100%;
  }
}
