.conferencesContainer{
  display:flex;
}

.imageConference{
  max-height:240px;
  position:relative;
}

.imageInformation{
  position:absolute;
}

.imageHour{
  position:absolute;
}

.imageName{
  position:absolute;
}
