.downbar {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  lost-column: 19/19 0;
  margin-bottom: 15px;
  position: absolute;

  & .dblinks {
    display: flex;
    margin-right: 100px;

    & > a {
      margin-left: 10px;
      height: 30px;
      width: 30px;
    }

    & img {
      max-width: 100%;
    }
  }

  & .dbline {
    border-top: 2px solid #333;
    height: 2px;
    margin-left: 100px;
    width: 5%;
  }
}
