.bodyMain{
  @media (--tablet), (--phone) {
    lost-column: 1;
  }

  @media (--desktop) {
    lost-column: 1/2;
  }
}

.borderMain{
  @media (--tablet), (--phone) {
    margin-left: 0;
  }

  @media (--desktop) {
    margin-left:10%;
  }
}
