.sidebar {
  align-items: flex-end;
  bottom: 0;
  display: flex;
  left: 0;
  margin-left: 45px;
  position: absolute;
  transform-origin: top left 0;
  transform: rotate(270deg);

  & .sblinks {
    display: flex;

    & > span {
      margin-right: 10px;
    }
  }

  & .sblocation {
    height: 30px;
    width: 30px;

    & > img {
      max-width: 100%;
    }
  }
}
