.subtitleLine{
  border-bottom: solid 1px #f3f5f8;
  margin-bottom: 3em;
}

.containerSubtitle{
lost-column: 2/3;
}

.subtitleFormat{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-height: 2.5em;
  text-align: left;
}

.marginSubtitle{
  margin-right: 3em;
  width: 139px;
}
