.subtitleLine{
  border-bottom: solid 1px #f3f5f8;
  margin-bottom:3em;
}

.containerSubtitle{
lost-column:2/3;
}

.subtitleFormat{
  display:flex;
  justify-content: flex-start;
  flex-direction: row;
  max-height:2.5em;
  text-align:left;
}

.marginSubtitle{
  width:139px;
margin-right: 3em;
}
