.containerSubtitle{
  lost-column:2/3;

}

.subtitleFormat{
  display:flex;
  justify-content:space-between;
  flex-direction: row;
}

.containerSubtitleAll{
  border-bottom: solid 2px var(--white);
  border-padding:10rem;
}
