.title {
  display: flex;
  font-weight: bold;
  width: 100%;

  h1 {
    margin-bottom: .7rem;
  }
}

.subtitleLine{
  border-bottom: solid 1px #f3f5f8;
  margin-bottom: 2.5rem;
}

.containerSubtitle{
lost-column: 2/3;
}

.subtitleFormat{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-height: 2.5em;
  text-align: left;
}

.marginSubtitle{
  margin-right: 3em;
  width: 139px;
}
