.topbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  lost-column: 19/19 0 30px;
  lost-utility: clearfix;
  padding: 25px 80px 10px 45px;

  & .tblogo {
    lost-column: 2/17;

    & > img {
      cursor: pointer;
      max-width: 50%;
    }
  }

  & .tblinks {
    display: inherit;
    justify-content: flex-end;
    lost-column: 15/17;
    margin-top: 12px;

    & > span {
      cursor: pointer;
      margin-left: 1rem;
    }
  }
}
